{% extends 'base_site.html' %}
{% load humanize %}
{% block superbody %}
	
      <table>
        <thead>
          <tr>
              <th data-field="id">Data</th>
              <th data-field="name">Nome do cliente</th>
              <th data-field="price">Email</th>
              <th data-field="price">Telefone</th>
          </tr>
        </thead>

        <tbody>
        	{% for obj in object_list %}
	          <tr>
	            <td>{{ obj.creation_time }}</td>
	            <td>{{ obj.name }}</td>
              <td>{{ obj.email }}</td>
              <td>{{ obj.phone }}</td>
	            <td>
	            	<i class="mdi-editor-border-color"></i>
	            	<i class="mdi-content-add-box"></i>
	          </tr>
          	{% endfor %}
        </tbody>
      </table>

{% endblock %}