{% extends "registration/base_login.html" %}
{% load bootstrap3 %}
{% block cabecalho %}
{% endblock %}
{% block body %}
<div id="signup-box" class="container">
  <div class="row">
    <div class="widget-main">
      <h4 class="header green lighter bigger">
        <i class="icon-lock blue"></i>
        Alterar senha
      </h4>
      <div class="space-6"></div>
      {% if form.errors %}
      <div class="alert alert-danger">
          'As senhas não conferem'
      </div>
      {% endif %}
      <p>Digite sua nova senha</p>

      <form method="POST">
        {% csrf_token %}
        <fieldset>
          <label class="block clearfix">
            <span class="block input-icon input-icon-right">
                <input type="password" name="new_password1" class="form-control" placeholder="Senha" pattern=".{6,}" title="A senha deve conter 6 caracteres ou mais" required="true"/>
                <i class="icon-lock"></i>
            </span>
          </label>
          <label class="block clearfix">
            <span class="block input-icon input-icon-right">
              <input type="password" name="new_password2" class="form-control" placeholder="Repita a senha"  pattern=".{6,}" title="A senha deve conter 6 caracteres ou mais" required="true" />
              <i class="icon-retweet"></i>
            </span>
          </label>
          <div class="space-24"></div>
          <div class="clearfix">
            <button type="submit" class="btn">
              Alterar Senha
              <i class="icon-arrow-right icon-on-right"></i>
            </button>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="toolbar center">
      <a href="{% url 'login' %}" class="back-to-login-link">
        <i class="icon-arrow-left"></i>
        Voltar para tela de login
      </a>
    </div>
  </div><!-- /widget-body -->
</div><!-- /signup-box -->
{% endblock %}
