{% extends "registration/base_login.html" %}

{% block corpo %}
<script type="text/javascript">
    $(function () {
        $("#id_new_password1, #id_new_password2").attr({
            pattern: ".{6,}",
            title: "A senha deve conter 6 caracteres ou mais",
            required: "true"
        });
        $("#form-change-password").submit(function() {
            var password1 = $("#id_new_password1").val();
            var password2 = $("#id_new_password2").val();

            if (password1 == "" || password1.length < 6 || password1 != password2) {
                $("#id_password1", $(this)).focus();
                return false;
            }
        });
    });
</script>
{% endblock %}

{% block page_name %}Altere sua senha{% endblock %}
{% block corpo %}
    <form id="form-change-password" role="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-6">
                {% bootstrap_form form %}
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" value="Alterar Senha" class="btn">
        </div>
    </form>
{% endblock %}
