{% extends "registration/base_login.html" %}
{% block body %}
<div class="row">
  <div class="container">
    <form method="POST" class="form-signin" role="form">
      {% csrf_token %}
      <h4>
          <i class="glyphicon-erase"></i>
          Recuperar senha
      </h4>
      <div class="space-6"></div>
        {% if form.errors %}
          <div class="alert alert-danger">
            'E-mail inválido ou inexistente'
          </div>
        {% endif %}
        <p>
          Digite seu e-mail para receber as instruções para recuperar sua senha
        </p>
        <div class="input-field col s12 center">
          <input type="email" name="email" id="email" class="form-control" placeholder="Email" />
          <label for="email" class="center-align">Email</label>
          <i class="icon-envelope"></i>
        <div class="col s6 m6 l6">
          <button class="btn btn-large btn-primary" id="submit" type="submit">Enviar</button>
        </div>
        <div class="col s6 m6 l6">
          <a href="{% url 'login' %}" class="btn btn-large btn-primary">
            Voltar para tela de login
            <i class="icon-arrow-right"></i>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
