{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- CSS Class -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'js/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/nouislider.pips.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    {% block customizing_css %}{% endblock %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--Import jQuery before materialize.js-->

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wNumb.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nouislider.min.js' %}"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js" type="text/javascript"></script>
    

    {% block extra_js %}{% endblock %}
    {% block cabecalho %}
    <title id='default_title'>Django travel - Beta</title>

    {% endblock %}
  </head>
  {% block write_body %}
  <body data-twttr-rendered="true">
    {% block body %}{% endblock %}
  </body>
  {% endblock %}
</html>